* {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#header_sub .inner {
  width: 1180px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  top: 20px;
}
#header_sub .inner > h1 a {
  font: bold 28px/1 "arial";
  color: #555;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1005;
  border-top: 1px solid #ccc;
}
#header_sub .inner .menuWeb #gnb li {
  width: 20%;
  height: 60%;
  float: left;
  position: relative;
}
#header_sub .inner .menuWeb #gnb li::after {
  content: "";
  display: block;
  width: 1px;
  height: 40%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 30%;
}
#header_sub .inner .menuWeb #gnb li:last-child::after {
  display: none;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  width: 100%;
  height: 100%;
  font: 14px/60px "arial";
  color: #666;
  text-align: center;
}
#header_sub .inner .menuWeb #util {
  position: absolute;
  right: 0;
  top: 25px;
}
#header_sub .inner .menuWeb #util li {
  float: left;
}
#header_sub .inner .menuWeb #util li a {
  display: inline-block;
  font: 12px/1 "arial";
  color: #999;
  padding: 10px 30px;
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -999999px;
  transition: 1s;
}
#header_sub .inner .menuMo {
  display: none;
  width: 270px;
  height: 100vh;
  background: #333;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0px;
}
#header_sub .inner .menuMo h1 {
  padding-top: 30px;
  border-bottom: 30px;
  border-bottom: 1px solid #666;
  text-align: center;
}
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
}
#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header_sub .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

.content {
  width: 100%;
  padding: 0 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}

#footer {
  width: 100%;
  background: #eee;
  padding: 50px 0;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/0 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  border-top: 1px solid #888;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
#footer .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}

.community .sub_visual {
  background: green;
}
.community .inner h1 {
  font-size: 50px;
}

.gallery .sub_visual {
  background: navajowhite;
}
.gallery .inner h1 {
  font-size: 50px;
}

.company .sub_visual {
  background: pink;
}
.company .inner h1 {
  font-size: 50px;
}

.department .sub_visual {
  background: cornflowerblue;
}
.department .inner h1 {
  font-size: 50px;
}

.location .sub_visual {
  background: yellowgreen;
}
.location .inner h1 {
  font-size: 50px;
}

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#header .inner {
  width: 1180px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  left: 0;
  top: 20px;
}
#header .inner > h1 a {
  font: bold 28px/1 "arial";
  color: #555;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1005;
  border-top: 1px solid #ccc;
}
#header .inner .menuWeb #gnb li {
  width: 20%;
  height: 60%;
  float: left;
  position: relative;
}
#header .inner .menuWeb #gnb li::after {
  content: "";
  display: block;
  width: 1px;
  height: 40%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 30%;
}
#header .inner .menuWeb #gnb li:last-child::after {
  display: none;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  width: 100%;
  height: 100%;
  font: 14px/60px "arial";
  color: #666;
  text-align: center;
}
#header .inner .menuWeb #util {
  position: absolute;
  right: 0;
  top: 25px;
}
#header .inner .menuWeb #util li {
  float: left;
}
#header .inner .menuWeb #util li a {
  display: inline-block;
  font: 12px/1 "arial";
  color: #999;
  padding: 10px 30px;
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -999999px;
  transition: 1s;
}
#header .inner .menuMo {
  display: none;
  width: 270px;
  height: 100vh;
  background: #333;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  transition: 0.5s;
}
#header .inner .menuMo.on {
  left: 0px;
}
#header .inner .menuMo h1 {
  padding-top: 30px;
  border-bottom: 30px;
  border-bottom: 1px solid #666;
  text-align: center;
}
#header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
}
#header .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

#visual {
  width: 100%;
  height: calc(100vh - 151px);
  background: #eee;
}
#visual .inner {
  width: 1180px;
  margin: 0 auto;
}

.new {
  width: 100%;
  padding: 200px 0px 0px;
}
.new .inner {
  position: relative;
  width: 1180px;
  min-height: 600px;
  margin: 0 auto;
  background: #ddd;
}

.brand {
  width: 100%;
  padding: 200px 0;
}
.brand .inner {
  position: relative;
  width: 1180px;
  min-height: 600px;
  margin: 0 auto;
  background: #ccc;
}

#footer {
  width: 100%;
  background: #eee;
  padding: 50px 0;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/0 "arial";
  color: #666;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "arial";
  color: #777;
  border-top: 1px solid #888;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}
#footer .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}

/*# sourceMappingURL=style.css.map */
